.about-header {
  background: linear-gradient(
      to right,
      rgba(0, 0, 0, 0) 0%,
      rgba(0, 0, 0, 0.429) 40%,
      rgb(0, 0, 0, 0.5) 55%
    ),
    url("../../imgs/about.jpg") no-repeat;
  @include header;
  background-color: $color-black;

  &-content {
    @include flex-center-center;
    flex-direction: column;
    align-items: flex-start;
    position: absolute;
    top: 30%;
    left: 10%;
    height: 50%;

    @media (max-width: 1050px) {
      top: 10%;
    }

    @media (max-width: 800px) {
      flex-direction: column;
      align-items: center;
      text-align: center;
    }

    h1 {
      margin: 10rem 0;
      @media (max-width: 800px) {
        margin: 3rem 0;
      }
    }

    h2 {
      text-transform: uppercase;
    }
  }
}
