.description {
  display: flex;
  background-image: linear-gradient(
    180deg,
    rgba(0, 0, 0, 0.123) 20%,
    rgba(0, 0, 0, 0.034) 80%
  );

  @media (max-width: 850px) {
    text-align: center;
    flex-direction: column;
  }

  &-part {
    padding: 9.6rem;
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 5rem;

    @media (max-width: 1400px) {
      padding: 3rem;
    }
    @media (max-width: 850px) {
      width: 80%;
      padding: 4rem 0;
      margin: 0 auto;
      align-items: center;
    }

    &-content {
      color: $color-black-text;
    }

    &-title {
      color: $color-black-text;
    }

    &-button {
      color: $color-white;
      background-color: $color-black;
      font-size: 1.6rem;
      padding: 1rem 2.5rem;
      text-decoration: none;
      border-radius: 20px;
      border: 1px solid $color-black;
      transition: all 0.4s;

      &:hover {
        background-color: transparent;
        color: $color-black;
      }
    }
  }
}
